.wrapper{
    font-size: 22px;
    margin:3.2% 5% 0 5%;
    text-align: center;
    padding-top: 10px;
    background-color: #eff1f5fd;
    padding: 20px 20px ;
    
}

.image{
    width:100%;
    height: 100%;
    object-fit: contain;
}

@media (max-width:1200px){
    .wrapper {
        padding: 3%;
        margin:1%;
        font-size: 2vw;
    }
}

@media (max-width:600px){
    .wrapper {
        padding: 5%;
        margin:1%;
        font-size:4vw;
    }
    
   
    .head2{
        margin-top: 20px;
    }
}
@media (max-width:375px){
    .p2{
        width:100%;
        color:red
    }
}
@media (max-width:300px){
    .wrapper {
        padding: 5%;
        margin:1%;
        font-size: 4vw;
    }
   
}