.img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.line{
  margin:2% auto 0 auto;
  width: 90%;
  border-bottom: 1px solid rgb(127, 113, 113);
}

.image-wrapper {
  margin: 2% 0 0 1%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
}

@media (max-width:300px){
  .image-wrapper{
    width: 250px;
  }
}