.navlogo{
  float:left;
  width: 100px;
}

.row-h{
    text-align: center;
    padding: 10px 13% 10px 13%;
    width:100%;
    display: inline-block;
}

.inlinewrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    float:right;
    justify-content: center;
    flex-direction: row;
}

.inline {
    float:left;
    padding: 10px;
}

.side-items{
  display: flex;
  float:left;
  padding: 10px;
}
      
.btn-grad {
    background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff  51%, #ff6e7f  100%);
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(118, 7, 7);            
    box-shadow: 0 0 20px rgb(200, 186, 186);
    border-radius: 10px;
    font-weight: 500;
    margin-left: 50px;
    width: 180px;
    height: 50px
}

.btn-grad:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
    box-shadow: 0 0 20px rgb(17, 139, 226);
}
 
.form-search{
  position:relative;
  z-index: 3;
}

.cs-btn-two {
    color: rgb(131, 81, 81);            
    border-radius: 5px;
    width: 50px;
    height: 30px;
    
}

.cs-btn-two:hover {
    background: #dad1d1;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    box-shadow: 0 0 8px rgb(197, 81, 81);
    cursor: pointer;
}

.sticky {
    position: fixed;
    width:100%;
    z-index: 2;
  }

.inlinewrapper :hover {
    color: rgb(223, 17, 48);
}

.mobile-menu{
    padding:5px;
}

.search{
  width:30px;
  height:30px;
  margin:10px;
}

.logo{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media only screen and (max-width:1307px)
{
  .side-items{
    display:none;
  }
}

@media only screen and (min-width : 992px){
  .dropdown {
    display: none;
  }
}

@media only screen and (max-width : 991px) {
  .inlinewrapper{
      display: none;
  }
  .dropdown {
    display: block;
    float:right;
    text-align: center;
  }
  .logo{
    margin:0px;
  }
}

@media (max-width:600px){
  .navlogo{
    width: 50px;
  }
  
}
