.header-wrapper{
    text-align: center;
    width: 100%;
    margin-top: 2%;
}

.title {
    text-align: center;
    margin-left: 0;
    font-weight: 700;
    font-size: 42px;
}

.header2{
    font-size:22px
}

.text {
    font-size: 22px;
    line-height: 2.1em;
}


.service {
    width: 100%;
    display: flex;
    flex-wrap: wrap
}

.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.img-wrapper{
    width: 50%;
    height: 60%;
    text-align: center;
    display:flex;
    align-items: center;
    justify-items: center;
}

.span{
    font-size:2vw ;
    color:#cf2030;
}

.statisticalContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 20px;
    background-color: #F8EDEE;
    margin-top: 60px;
}

.counterService {
    font-size: 42px;
    line-height: 48px;
    font-weight: 800;
    font-family: "Roboto", sans-serif;
    color: #151a33;
}

.titleService {
    margin-top: -10px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    color: #747b87;
}


@media (max-width:1700px){
    .text{
        line-height: 1.5em;
       }
}

@media (max-width:1500px){
    .text{
        line-height: 1.5em;
       }
       .img-wrapper {
        width: 60%;
        padding: 5;
        margin-bottom: 40px;
    }
    
    .title{
        font-size: 29px;
    }
 
    .span{
        font-size:3vw ;
    }
}

@media (max-width:1317px){
    .text{
        line-height: 1.2em;
       }
}

@media (max-width: 1200px){
    
    .img{
        width:60%;
    }
    .img-wrapper {
        width: 55%;
        margin-bottom: 40px;
    }
    .title{
        font-size: 20px;
    }
    .text{
        font-size: 18px;
       }
    .span{
        font-size:2vw ;
    }
    .header2{
        font-size:2vw;
    }
}
@media (max-width:950px){
    .text{
        font-size:15px;
    }
}

@media (max-width:800px){
    .text{
        font-size:13px;
    }
}

@media (max-width: 600px) {
    .img{
        width:100%;
    }
    .img-wrapper {
        width: 100%;
        margin-bottom: 40px;
    }
    .statisticalContainer {
        margin-top: 10px;
      }
      .title{
        font-size: 18px;
    }
    .span{
        font-size:5vw ;
    }
    .header2{
        font-size:4vw;
    }
    .text{
        line-height: 1.8em;
        font-size:15px;
       }
    .header-wrapper{
        text-align: justify;
    }
}


@media (max-width:300px){
    .img{
        width:100%;
    }
    .img-wrapper {
        width: 95%;
        margin-bottom: 40px;
    }
    .statisticalContainer {
        margin-top: 10px;
      }
      .header2{
        font-size:4vw;
    }
    .text{
        font-size:11px;
       }
}
