.content {
    width: 50%;
    padding-top: 7%;
}


@media (max-width:1500px){
    .content{
        width: 40%;
        
    }
}



@media (max-width:1305px){
    .content{
        width: 40%;
    }
}

@media (max-width: 1023px) {
    .content {
        width: 40%;
    
    }
}

@media (max-width: 600px) {
    .content {
        width: 100%;
    
    }
}