.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.p1 {
  text-align: center;
  width: 600px;
  height: 80px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  font-weight: 700;
}

.p1::before {
  position: absolute;
  width: 590px;
  height: 70px;
  z-index: 1;
  background-color: rgb(251, 251, 251);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}

.p1:hover::before {
  width: 800px;
  height: 400px;
  content: "XEM CHI TIẾT";
  font-weight: 700;
  animation: none;
  background-color: #d03031;
  color: white;
}
.p1:hover::after {
  animation: none;
}

.p1::after {
  content: "";
  width: 600px;
  height: 600px;
  position: absolute;
  border-radius: 50px;
  background: conic-gradient(
    #3a7cec 0%12.5%,
    #2ca24c 12.5%25%,
    #f1b500 25%37.5%,
    #e33e2b 37.5%50%,
    #3a7cec 50%62.5%,
    #2ca24c 62.5%75%,
    #f1b500 75%87.5%,
    #e33e2b 87.5%100%
  );

  -webkit-animation: border-animation 5s linear infinite;
  animation: border-animation 5s linear infinite;
}

.p1::before {
  content: "SỰ KIỆN HẤP DẪN ĐANG CHÀO ĐÓN";
  color: #cf2030;
  animation: animate1 infinite 4s;
}

@keyframes animate1 {
  20%{
    content: " XEM CHI TIẾT ";
    text-decoration: underline;
    color: black;
    font-size: 32px;
  }
  40% {
    content: " XEM CHI TIẾT ";
    text-decoration: underline;
    color: black;
    font-size: 35px;
  }
  50% {
    content: " XEM CHI TIẾT ";
    text-decoration: underline;
    color: black;
    font-size: 35px;
  }
  60% {
    content: " XEM CHI TIẾT ";
    text-decoration: underline;
    font-size: 32px;
  }
  70%{
    content: "SỰ KIỆN HẤP DẪN ĐANG CHÀO ĐÓN";
    text-decoration: none;
    font-size: 30px;
  }
}

@keyframes animate2 {
  20%{
    content: "XEM CHI TIẾT";
    text-decoration: underline;
    color: black;
    font-size: 14px;
  }
  40% {
    content: "XEM CHI TIẾT";
    text-decoration: underline;
    color: black;
    font-size: 15px;
  }
  50% {
    content: "XEM CHI TIẾT";
    text-decoration: underline;
    color: black;
    font-size: 16px;
  }
  60% {
    content: "XEM CHI TIẾT";
    text-decoration: underline;
    font-size: 15px;
  }
  80%{
    content: "SỰ KIỆN HẤP DẪN ĐANG CHÀO ĐÓN";
    text-decoration: none;
    font-size: 12px;
  }
}

@keyframes border-animation {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (max-width: 1200px) {
  .p1 {
    width: 252px;
    height: 52px;
    font-weight: 700;
    font-size: 13px;
  }

  .p1::before {
    font-size: 13px;
    width: 243px;
    height: 44px;
    animation: animate2 infinite 4.5s;
  }
}

@media (max-width: 600px) {
  .p1 {
    width: 170px;
    height: 36px;
    font-weight: 650;
    font-size: 13px;
  }

  .p1::before {
    font-size: 11px;
    width: 164px;
    height: 30px;
    animation: animate2 infinite 4.5s;
  }
}
