.wrapper{
    font-size: 22px;
    margin:0 2% 0 2%;
    padding-top: 10px;
    padding: 2% 2% 1%;  
    
}

@media (max-width:1345px){
    .wrapper {
        font-size: 2vw;
    }
}

@media (max-width:600px){
    .wrapper {
        font-size: 4vw;
    }
}

