.leadersCardHolder {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #F0F0F0;
    margin-top: 4%; 
    border-radius: 10px;
    padding: 10px;
}

.managercontainer{
    text-align: center;
    width: 100%;
    margin:2%;
}

.profilePicture {
    border-Radius:47%;
    background-Color: white;
    width: 90%;
    height: 90%;
    padding: 3%;
    margin:2%;
    object-fit: contain;
}

.leaderShipCardContentHolder {
    font-size: 1.2vw;
    text-align: center;
    margin: auto;
}

.name {
    font-size: 18px;
    font-size: 18px;
    font-weight: 700;
    color: #151a33;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.chapter {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: #151a33;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.companyName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 0 20px;
    line-height: 1.8em;
}

.mailCallProfileViewholder {
    width: 100%;
    padding-left: 30px;
    padding-top: 40px;
}

.text {
    color: #b73232;
    display: inline-block;
    height: 48px;
    font-size: 18px;
}

.antCol {
    padding-left: 8px;
    padding-right: 8px;
}
.titleContainer {
    padding-left: 10px;
    width: 90%;
}

.title {
    padding-left: 8px;
    font-size: 35px;
    line-height: 48px;
    font-weight: 700;
    border-left: 8px solid #b73232;
    margin: 3% 0 -2% 0;
}
.img-wrapper{
    width: 50%;
}

@media (max-width: 1024px){
    .leaderShipCardContentHolder {
        width: 55%;
    }
    .title{
        font-size:3vw;
    }
    .img-wrapper{
        width: 45%;
    }
    .companyName {
        font-size: 1.2vw;
    }
}

@media (max-width: 991px){
    .companyName {
        font-size: 2vw;
    }
    .title{
        font-size:4vw;
    }
}

@media (max-width: 600px){
    .companyName {
        font-size: 2.7vw;
        margin:0px;
    }
   .chapter{
    font-size: 3vw;
   }
   .titleContainer{
    padding-left: 0px;
   }
   .title{
    font-size:5vw;
   }
    .leadersCardHolder{
        padding:1% 0px 0px 0px;
        
    }
}

@media (max-width:300px){
    .companyName {
        font-size: 3.8vw;
    }
    .leaderShipCardContentHolder {
        width: 95%;
    }
    .img-wrapper{
        width: 95%;
    }
}







