.container {
  width: 85vw;
  margin: auto;
  padding: 0;
}

.imageSlider {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.wrapper {
  width: 100%;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  padding-left: 21px;
  padding-right: 21px;
  margin-top: 35px;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: #bc2b2c;
  margin-top: 2%;
  padding-top: 50px;
}

.img20 {
  width: 20%;
  padding: 28px 50px 60px 30px;
  img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}

.footerLink {
  color: white;
  display: block;
}



.content40 {
  width: 40%;
  padding: 20px;
}

.line {
  margin: auto;
  border-bottom: 1.5px solid white;
  width: 50vw;
}

.groupData {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.statisticalContainer {
  width: 100%;
  height: 100%;
  background-color: #f8efef;
  padding: 25px;
  border-radius: 10px;
  margin: 10px auto;
  overflow: hidden;
  border:1px solid rgb(134, 58, 39);
    svg {
    padding: 0 !important;
  } 
}



.titleService {
  margin-top: -10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: #747b87;
}

.imageList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0 30px;
  img {
    width: 100% !important;
    object-fit: cover;
  }
}


.iframeList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0 30px;
  .iframeItem {
    cursor: pointer;
  }
  img {
    width: 100% !important;
    height: auto !important;
  }
}

.slider {
 padding:1%;
  margin: 0 0 0 0;
}

.header2{
  font-size: 32px;
  margin:1% auto 30px;
  text-align: center;
}


.posterContainer {
  width: 80%;
  margin: auto;
  border: 0.5px solid rgb(189, 182, 182);
  border-radius: 10px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain !important;
  }
}

.poster {
  height: 'fit-content';
  width: 5%;
  border-radius: 10px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain !important;
  }
}

.imageSlider {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

$red-color:  #fa0202;

@keyframes glowing {
  0% {  
    box-shadow: 0 0 10px $red-color;
  }
  25% {
    box-shadow: 0 0 20px $red-color;
  }
  50% {
    box-shadow: 0 0 30px $red-color;
  }
  75% {
    box-shadow: 0 0 40px $red-color;
  }
  100% {
    box-shadow: 0 0 50px $red-color;
  }
}
.iframeFooter {
  width:50%;
}
.link {
  display: inline-block;
  border: 1px solid #140101;
  width: 200px;
  height: 50px;
  background-color: #d03031;
  color: white;
  font-weight: 500;
  line-height: 50px;
  text-align: center;
  z-index: 10;
  border-radius: 20px;
  cursor: pointer;
  animation: glowing 1300ms infinite;
}

.link:after {
  content:'ĐĂNG KÝ SỰ KIỆN';
}

.link:hover:after{
  content:'ĐĂNG KÝ NGAY';
}

.link {
  transition: all .2s ease-in-out;
}

.link:hover{
  animation: none;
  transform: scale(1.2);
}


.groupData {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.imageList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0 30px;
  img {
    width: 100% !important;
    object-fit: cover;
  }
}

/////////////////////////Reposive//////////////////////////////
/// 
@media (max-width: 1199px) {
  .groupData {
    grid-template-columns: repeat(2, 1fr);
  }
  .iframeFooter {
    width:80%;
  }
  .img20 {
    width: 20%;
    height: 30%;
    padding:0;
    margin-top: 1.5%;
  }

  .imageList {
    img {
      height: 100px !important;
    }
  }
}



@media (max-width: 1023px) {
  .imageList {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    img {
      height: 177px !important;
    }
  }
  .iframeList {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}

@media (min-width: 1000px) {
  .line {
    width: 85vw;
  }
}
@media (max-width: 600px) {
  .header {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .img50 {
    width: 100% !important;
  }
  .wrapper {
    .content {
      width: 100% !important;
      .img50 {
        width: 100% !important;
      }
    }
  }
  .container {
    width: 100% !important;
    padding: 0 !important;
  }

  
  .slider {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-top: 50px;
  }

  .link {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width:100px;
    height: 40px;
    font-size:9px;
  }

  .title {
    text-align: center;
  }

  .img20 {
    width: 50%;
    margin: auto;
    padding: 0;
  }

  .content40 {
    width: 80vw;
    text-align: center;
    margin: auto;
  }
  
  .footerLink {
    margin-top: 5px;
  }

  .line {
    width: 85vw;
  }

  .iframe {
    width: 100%;
    height: 400px;
    border: none;
  }
 
  .iframeFooter {
    margin: auto;
  }

  .posterContainer {
    width: 100%;
  }
  
  .header2{
    font-size:24.5px;
    margin-left: 1%;
  }
  .footerimg{
    width:50px;
  }
}


@media (max-width: 599px) {
  .title {
    margin-top: 30px !important;
  }

  .statisticalContainer {
    padding: 10px;
    svg {
      width: 40% !important;
      padding: 0 !important;
    }
  }

  .statisticalContainer {
    display: flex;
    flex-direction: column;
    div:last-child {
      margin: 0;
      margin-top: auto !important;
    }
  }
 
  .iframeList {
    padding: 0 15px;
    grid-gap: 10px;
    iframe {
      height: 100px !important;
    }
  }

  .imageList {
    padding: 0 15px;
    grid-gap: 10px;
    img {
      height: 100px !important;
    }
  }

  .title {
    text-align: center !important;
  }
  
}

@media (max-width:375px){
  .header2{
    font-size: 24.5px;
  }
}