
.wrapper{
    margin:0 1% 5% 1%;
    width: 95%;
}

.img{
    width:95%;
    height: 95%;
    padding: 0 4% 0 8%;
}
.header{
    margin: 3% 0 3% 4.5%;
    padding:5px 0 0 8px;
    font-size: 35px;
    line-height: 48px;
    font-weight: 700;
    border-left: 8px solid #b73232;
    text-align: left;
}


@media (max-width: 1345px){
    .header{
        font-size: 3vw;
    }
}



@media (max-width: 600px){
   .img {
    width: 100%;
   }
    .header{
        font-size: 5vw;
    }
}
